html {
	font-size: clamp(0.85rem, 0.85vw, 24px);
}

body {
	font-family: 'Graphik', serif;
	background-color: var(--color-light-200);
	color: var(--color-dark);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'DM Serif Display';
	font-weight: lighter;
}

h6 {
	font-family: 'DM Serif Display Italic';
	font-style: italic;
}

main {
	flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.75rem;
}

h3 {
	margin-top: 2rem;
	margin-bottom: 0.25rem;
	font-size: 3.25rem;
	line-height: 1.2;
}

h4 {
	font-size: 2rem;
	line-height: 1.2;
}

h5 {
	font-size: 1.5rem;
	line-height: 1.3;
}

h6 {
	font-size: 1.25rem;
	font-weight: lighter;
	line-height: 1.4;
}

::placeholder {
	color: var(--color-light-550);
}

@media (max-width: 768px) {
	h1 {
		font-size: 3.5rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2.5rem;
	}

	h4 {
		font-size: 2rem;
	}

	h5 {
		font-size: 1.5rem;
	}

	h6 {
		font-size: 1.25rem;
	}
}
